
# Ignore Database Files (Large)
database/*.db
database/*.sqlite

# Ignore all blueprints subdirectories except mapper
database/blueprints/*
!database/blueprints/mapper/

# Ignore Output Directory
output/
result.xlsx

# Ignore Logs
run_log/

# Ignore Temp Uploads
temp_uploads/

# Python Cache
__pycache__/
*.py[cod]

# Environment
.venv
env/
venv/
